.DS_Store
*.pyc
*.log
*.swp
*.retry
.env
.idea
.vscode
*~
/logs
/data
.~*
common/CACHE
config/local.py
bakerydemodb
node_modules
venv
.venv
__pycache__
.vagrant/
/.vagrant/
/Vagrantfile.local
!.gitignore
src/collect_static
data.json

prod.env
local.env
local.docker-compose.yml
deploy/nginx/local.Dockerfile
deploy/nginx/local.nginx.conf
# static
/static_nodejs
/wagtail-cloud-trans.json
media
media/*

src/advertisement/test.py
